@import "tailwindcss";

@theme {
  --color-buttermilk: #fff2bd;
  --color-cream: #fffdf0;
  --color-brand: #285ccc;
  --color-navy: #0f1f4b;
  
  --font-sans: var(--font-poppins), sans-serif;
}

:root {
  --background: #fff2bd;
  --foreground: #0f1f4b;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
